body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    background-color: #000;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    --sonicColor: #0125c3;
    --knucklesColor: #f84120;
    --tailsColor:#ffc107;
}

.text-frame {
    position: relative;
    top: -30px;

}

.sonic-text {
   
    font-size: 150px;
    font-weight: 900;
    letter-spacing: -18px;
    color: white;
    scale: 1 .7;
    opacity: 0;
    animation: show 1.5s 16s forwards;
}

.des {
    position: absolute;
    top: 143px;
    width: 329px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 700;
    opacity: 0;
    animation: show 1.3s 17s forwards;
}
@keyframes show{
    to{
        opacity: 1;
    }
}
/* SONIC */
.frame {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    
}
@media (max-width:700px){
    .frame{
        scale: .44;
    }
    .text-frame{
        top: -200px;
        scale: .6;
    }
}
.sonic {
    position: relative;
    top: -800px;
    width: 250px;
    height: 500px;
    rotate: y 360deg;
    background-color: rgba(0, 110, 254, 0.17);
    animation: sonic-spin 4s 12s forwards;
   
}

@keyframes sonic-spin{
    
    to{
        top: 0;
        rotate: y 0deg;
    }
}
.sonic .face {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--sonicColor);
}
.sonic .hair1 {
    position: absolute;
    top: 172px;
    left: 59px;
    width: 150px;
    height: 90px;
    rotate: 5deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--sonicColor);
}
.sonic .hair2 {
    position: absolute;
    top: 215px;
    left: 72px;
    width: 150px;
    height: 90px;
    rotate: 23deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--sonicColor);
}
.sonic .hair3 {
    position: absolute;
    top: 225px;
    left: 58px;
    width: 150px;
    height: 70px;
    rotate: 61deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--sonicColor);
}
.sonic .hair4 {
    position: absolute;
    top: 162px;
    left: 30px;
    width: 150px;
    height: 70px;
    rotate: 327deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--sonicColor);
}
.sonic .hair5 {
    position: absolute;
    top: 213px;
    left: 25px;
    width: 100px;
    height: 70px;
    rotate: 239deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--sonicColor);
}
.sonic .eye1 {
    position: absolute;
    top: 270px;
    left: 76px;
    width: 33px;
    height: 33px;
    background-color: #fff;
    border-radius: 54% 47% 73% 0% / 64% 37% 63% 1%;
    rotate: 10deg;
}
.sonic .eye2 {
    position: absolute;
    top: 252px;
    left: 79px;
    width: 35px;
    height: 45px;
    border-radius: 50%;
    rotate: 5deg;
    background-color: rgb(255 255 255);
}
.sonic .eye3 {
    position: absolute;
    top: 268px;
    left: 95px;
    width: 8px;
    height: 27px;
    border-radius: 50%;
    rotate: 332deg;
    background-color: var(--sonicColor);
}
.sonic .eye4 {
    position: absolute;
    top: 266px;
    left: 77px;
    width: 10px;
    height: 25px;
    border-radius: 50%;
    rotate: 12deg;
    background-color: rgb(255 255 255);
}
.sonic .eye5 {
    position: absolute;
    top: 287px;
    left: 76px;
    width: 5px;
    height: 20px;
    border-radius: 50%;
    rotate: 75deg;
    background-color: rgb(255 255 255);
}
.sonic .eye6 {
    position: absolute;
    top: 268px;
    left: 51px;
    width: 9px;
    height: 39px;
    border-radius: 50%;
    rotate: 148deg;
    background-color: rgb(255 255 255);
}
.sonic .eye7 {
    position: absolute;
    top: 274px;
    left: 55px;
    width: 6px;
    height: 28px;
    border-radius: 50%;
    rotate: 148deg;
    background-color: var(--sonicColor);
}
.sonic .nose1 {
    position: absolute;
    top: 296px;
    left: 58px;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #080808;
}
.sonic .nose2 {
    position: absolute;
    top: 299px;
    left: 59px;
    width: 6px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
}

/* knuckles */
.knuckles {
    position: relative;
    perspective: 500px;
    width: 250px;
    height: 500px;
    background-color: rgba(254, 0, 0, 0.17);
    animation: knuckles-spin 1.5s ;
}
@keyframes knuckles-spin{
    from{
        left: -800px;
        rotate: y 360deg;
    }
    to{
        left: 0;
        rotate: y 0deg;
    }
}
.knuckles .face {
    position: absolute;
    top: 200px;
    left: 45px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 2s linear forwards ; 
}
.knuckles .hair1 {
    position: absolute;
    top: 169px;
    left: 55px;
    width: 150px;
    height: 94px;
    rotate: 0deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 3s linear forwards ; 
}
.knuckles .hair2 {
    position: absolute;
    top: 234px;
    left: 64px;
    width: 85px;
    height: 103px;
    rotate: 208deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 4s linear forwards ; 
}
.knuckles .hair3 {
    position: absolute;
    top: 205px;
    left: 115px;
    width: 111px;
    height: 63px;
    rotate: 46deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 5s linear forwards ; 
}
.knuckles .hair4 {
    position: absolute;
    top: 254px;
    left: 114px;
    width: 111px;
    height: 63px;
    rotate: 46deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 6s linear forwards ; 
}
.knuckles .hair5 {
    position: absolute;
    top: 254px;
    left: 106px;
    width: 111px;
    height: 63px;
    rotate: 115deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 7s linear forwards ; 
}
.knuckles .eye1 {
    position: absolute;
    top: 259px;
    left: 65px;
    width: 47px;
    height: 27px;
    rotate: 115deg;
    border-radius: 0% 50%;
    background-color: white;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 8s linear forwards ; 
}
.knuckles .eye2 {
    position: absolute;
    top: 262px;
    left: 89px;
    width: 8px;
    height: 27px;
    border-radius: 50%;
    rotate: 332deg;
    background-color: var(--knucklesColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 9s linear forwards ; 
}
.knuckles .nose1{
    position: absolute;
    top: 304px;
    left: 45px;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #080808;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 10s linear forwards ; 
}
.knuckles .nose2{
    position: absolute;
    top: 307px;
    left: 45px;
    width: 6px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 11s linear forwards ; 
}
@keyframes zd {
    
    to{
        transform: translateZ(0px) rotateX(0deg) rotateY(0deg);
    }
}
/* tails */
.tails {
    position: relative;
    perspective: 500px;
    width: 250px;
    height: 500px;
    background-color: rgba(254, 246, 0, 0.17);
    animation: tails-spin 1.5s;
}
@keyframes tails-spin{
    from{
        right: -800px;
        rotate: y 360deg;
    }
    to{
        right: 0;
        rotate: y 0deg;
    }
}
.tails .face{
    position: absolute;
    top: 200px;
    left: 62px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 2s linear forwards ; 
}
.tails .hair1{
    position: absolute;
    top: 273px;
    left: 37px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 2deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 3s linear forwards ; 
}
.tails .hair2{
    position: absolute;
    top: 286px;
    left: 34px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 345deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 4s linear forwards ; 
}
.tails .hair3{
    position: absolute;
    top: 290px;
    left: 37px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 309deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 5s linear forwards ; 
}
.tails .hair4{
    position: absolute;
    top: 299px;
    left: 48px;
    width: 77px;
    height: 15px;
    border-radius: 50%;
    rotate: 291deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 6s linear forwards ; 
}
.tails .hair5{
    position: absolute;
    top: 268px;
    left: 140px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 4deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 3s linear forwards ; 
}
.tails .hair6{
    position: absolute;
    top: 282px;
    left: 140px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 20deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 4s linear forwards ; 
}
.tails .hair7{
    position: absolute;
    top: 291px;
    left: 132px;
    width: 77px;
    height: 22px;
    border-radius: 50%;
    rotate: 45deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 5s linear forwards ; 
}
.tails .hair8{
    position: absolute;
    top: 296px;
    left: 124px;
    width: 77px;
    height: 15px;
    border-radius: 50%;
    rotate: 248deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 6s linear forwards ; 
}

.tails .ear1{
    position: absolute;
    top: 177px;
    left: 19px;
    width: 150px;
    height: 94px;
    rotate: 254deg;
    border-radius: 89% 6% 86% 6% / 78% 4% 98% 18%;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 7s linear forwards ; 

}
.tails .ear2{
    position: absolute;
    top: 167px;
    left: 95px;
    width: 143px;
    height: 78px;
    rotate: 144deg;
    border-radius: 78% 4% 98% 18%/ 89% 6% 86% 6%;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
    animation: zd 1s 7s linear forwards;

}
.tails .eye1{
    position: absolute;
    left: 83px;
    top: 228px;
    width: 34px;
    height: 62px;
    background-color: white;
    rotate: 347deg;
    border-radius: 50% 50% 41% 28% / 60% 39% 62% 40%;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 8s linear forwards ; 
}
.tails .eye2{
    position: absolute;
    left: 135px;
    top: 228px;
    width: 34px;
    height: 62px;
    background-color: white;
    rotate: 2deg;
    border-radius: 50% 50% 41% 28% / 60% 39% 62% 40%;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 8s linear forwards ; 
}
.tails .eye3{
    position: absolute;
    top: 275px;
    left: 75px;
    width: 51px;
    height: 10px;
    border-radius: 50%;
    rotate: 79deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 9s linear forwards ; 
}
.tails .eye4{
    position: absolute;
    top: 275px;
    left: 121px;
    width: 51px;
    height: 10px;
    border-radius: 50%;
    rotate: 89deg;
    background-color: var(--tailsColor);
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 9s linear forwards ; 
}
.tails .nose1{
    position: absolute;
    top: 288px;
    left: 117px;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #080808;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 10s linear forwards ; 
}
.tails .nose2{
    position: absolute;
    top: 291px;
    left: 122px;
    width: 6px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateZ(800px) rotateX(360deg) rotateY(360deg);
     animation: zd 1s 11s linear forwards ; 
}